<form class="form-signin">
	<h2 class="form-signin-heading">Change password</h2>

	<label for="changePasswordForm_password" class="sr-only">Password</label>
	<input type="password" placeholder="Password" id="changePasswordForm_password" class="form-control" required autofocus />

	<button id="changePasswordForm_submit" class="btn btn-primary btn-flat">Proceed</button>
</form>
<form action="/auth/changePassword" method="post" id="h_changePasswordForm">
	<input type="hidden" id="h_changePasswordForm_passhash" name="password" />
</form>