<br>
<br>
<input type="text" placeholder="Username" id="loginForm_username" />
<input type="password" placeholder="Password" id="loginForm_password" />
<button id="loginForm_submit">Login</button>
<form action="/auth/login" method="post" id="h_loginForm">
	<input type="hidden" id="h_loginForm_username" name="username" />
	<input type="hidden" id="h_loginForm_passhash" name="password" />
</form>
<br>
<br>
<input type="text" placeholder="Username" id="registerForm_username" />
<input type="password" placeholder="Password" id="registerForm_password" />
<button id="registerForm_submit">Register</button>
<form action="/auth/register" method="post" id="h_registerForm">
	<input type="hidden" id="h_registerForm_username" name="username" />
	<input type="hidden" id="h_registerForm_passhash" name="password" />
</form>